a.ts_btn.btn-danger.text-light {
    background-color: #0b5bbe;
}
.payment_form {
    text-align: center;
    padding: 30px 15px;
    background: #e9ecef;
    border-radius: 5px;
}

img.lazy.loading.home-slide.w-100.img-fluid {
    height: 25rem;
}

.seo_services .card h3.card-title {
    font-size: 1.3rem;
}

.seo_services .card {
    height: 20rem;
    /* position: relative; */
    border-radius: 10px;
}

.seo_services .card:hover {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
    background: linear-gradient(341deg, rgba(255, 255, 255, 1) 0%, rgba(237, 247, 255, 1) 35%, rgb(239 131 29 / 59%) 79%, rgb(239 131 29 / 80%) 100%);
}

.seo_services .card img.img-fluid.card-img-top {
    width: 8rem;
    margin: 0px auto;
}


/* .seo_services .b_sc {
  position: absolute;
  bottom: 10px;
} */

a.btn.btn-info.btn-block.p-1 {
    color: white;
    font-size: 1rem;
    font-weight: 600;
}

div#main-nav {
    background-color: #0b5bbe !important;
}

.bb {
    border-bottom: 4px solid #0b5bbe;
    width: 10%;
    /* margin: 0px auto; */
}

.font-orange {
    color: #0b5bbe;
}

.font-n-blue {
    color: #33435c;
}

.bg-orange {
    background-color: #ef831d;
}

.btn-orange {
    background-color: #0b5bbe;
    color: white;
}

.fs-1 {
    font-size: 1rem;
}

.fs-1-5 {
    font-size: 1.5rem;
}

.fs-2 {
    font-size: 2rem;
}

.fs-2-5 {
    font-size: 2.5rem;
}

.fs-3 {
    font-size: 3rem;
}

.fs-3-5 {
    font-size: 3.5rem;
}

.fs-4 {
    font-size: 4rem;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.fw-800 {
    font-weight: 800;
}

.semi-border:before {
    content: "";
    position: absolute;
    width: 30px;
    height: 3px;
    background: #ef831d;
    bottom: 0;
    left: 0;
}

.h1 {
    margin: auto;
}

input[type=text] {
    background: #ffffff;
    padding: 2px 5px;
}

.btn.npay {
    background-color: #ef831d;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 15px 2px;
    cursor: pointer;
    border-radius: 50px;
}

.btn.npay:hover {
    color: white;
}

#button .button4 {
    background-color: #dae0e5;
    border: none;
    margin: 10px 10px;
    padding: 5px 46px;
    font-size: 1rem;
    font-weight: 600;
}

#button .button4:focus {
    box-shadow: 0px 0px 5px 0px rgb(47 47 95);
}

.payment_form h3,
h5 {
    color: #2f2f5f;
}


/* menu*/

.menu ul {
    list-style-type: none;
    margin: 0;
    padding-bottom: 100px;
    overflow: hidden;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1rem;
}

.footer_menu ul {
    list-style: none;
}

.footer_menu ul li {
    display: block;
}

.footer_menu ul li a {
    color: white;
    padding: 5px 0;
}

@media only screen and (max-width: 600px) {
    .right img,
    .industry img,
    .bbc img {
        width: 400px;
    }
}

.f10 {
    font-size: 1rem;
}

.f15 {
    font-size: 1.5rem;
}

.f20 {
    font-size: 2rem;
}

.fw-600 {
    font-weight: 600;
}

.text-dark2 {
    color: #404040;
}

section.bannersection {
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgb(223 225 232) 62%, rgb(205 207 243) 100%);
}


/* .banm {
  position: absolute;
  bottom: 0;
  /* left: 10%; */


/* } */

*/ .bg-pestin {
    background-color: #7bbabd;
}

img.company-logo {
    height: 4rem;
    width: auto!important;
}


/* sidebar */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    right: 0;
    top: 4.7rem;
    overflow-x: hidden;
    transition: 0.5s;
}

.sidenav_inner {
    border-left: 2px solid #f0f0f0;
    height: 100%;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

.btnMenu {
    display: none;
    padding: 20px;
    display: block;
    background: #6b7280;
    color: #fff;
}

.btnMenu i.fa {
    float: right;
}

.contenedor-menu .menu {
    width: 100%;
}

.contenedor-menu ul {
    list-style: none;
}

.contenedor-menu .menu li a {
    display: block;
    padding: .8rem;
    font-size: .8rem;
    font-weight: 600;
    text-align: left;
}

.contenedor-menu .menu li a:hover {
    background: #6b7280;
    color: #fff;
}

.contenedor-menu .menu i.fa {
    font-size: 12px;
    line-height: 18px;
    float: right;
    margin-left: 10px;
}

.contenedor-menu .menu ul {
    display: none;
}

.contenedor-menu .menu ul li a {
    background: #e8e8e8;
    color: #424242;
}

.contenedor-menu .menu .activado>a {
    background: #6b7280;
    color: #fff;
}

p.text-dark2.ban_text {
    margin: 0;
    font-size: 2.5rem;
    font-weight: 700;
}

img.w-100.b_p.img-fluid {
    height: 35rem;
}

button.btn.btn-orange.px-4.border-none {
    background-color: #ef831d;
    color: white;
    font-weight: 600;
    border-radius: 0%;
}


/*======| SERVICE AREA START |========*/

.service-area {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.service-heading h1 {
    margin-bottom: 30px;
    margin-top: 20px;
}

.service-single-box {
    border: 1px solid #ddd;
    padding-top: 25px;
    padding-bottom: 30px;
    border-radius: 3px;
    box-shadow: 0px 0px 5px -3px;
    transition: .3s;
    margin-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
    height: 320px;
}

.service-single-box h3 {
    margin-top: 15px;
    text-transform: capitalize;
}

p.slider-text {
    position: absolute;
    color: #222;
    bottom: 78px;
    right: 102px;
    font-size: 18px;
}

.service-single-box:hover {
    border: 1px solid #FFA300;
    box-shadow: 0px 0px 10px -3px #FFA300;
}


/*======| SERVICE AREA END |========*/


/*======| SERVICE AREA START |========*/

.service-area {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.service-heading h1 {
    margin-bottom: 30px;
    margin-top: 20px;
}

.service-single-box {
    border: 2px solid #f1f1f1;
    padding-top: 25px;
    padding-bottom: 30px;
    border-radius: 25px;
    box-shadow: 0px 0px 5px -3px;
    transition: .3s;
    margin-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
    height: 10rem;
}

.service-single-box h3 {
    margin-top: 15px;
    text-transform: capitalize;
}

p.slider-text {
    position: absolute;
    color: #222;
    bottom: 78px;
    right: 102px;
    font-size: 18px;
}

.service-single-box:hover {
    border: 2px solid #0b5bbe;
    box-shadow: 0px 0px 10px -3px #0b5bbe;
}


/*======| SERVICE AREA END |========*/


/*======| MAIN MENU START |========*/

.contact-area {
    padding-bottom: 64px;
}

.contact {
    bottom: 5px;
    padding: 10px;
    color: #fff;
    border: 1px solid #eee;
}

.home-contact {
    box-shadow: 0px 0px 15px 0px rgba(3, 3, 3, 0.1);
    margin-top: 80px;
    padding: 20px 5px 15px 6px;
}


/*.contact-bg {*/


/*	background: #fff;*/


/*	width: 53%;*/


/*	height: 450px;*/


/*	position: absolute;*/


/*	top: 0;*/


/*	opacity: 0.9;*/


/*}*/

.contact h5 {
    margin: 0;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 7px;
    color: #10053C;
}

.contact p {
    line-height: 20px;
}

.custom-form {
    border-radius: 0px;
    margin-bottom: 15px;
    background: none;
}

.contact-btn {
    background: #FF8200;
    padding: 8px 15px;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    display: inline-block;
    margin-top: 20px;
    transition: .3S;
    border-radius: 2px;
    border: none;
    cursor: pointer;
}

.contact-btn:hover {
    background: #FF7F00;
    color: #10053A;
}

.contact textarea {
    color: #fff;
}


/*======| MAIN MENU END |========*/


/*======| FOOTER START |========*/

.cus-textarea {
    height: 159px;
    border-radius: 0px;
}

.footer-area {
    background: #212529;
    padding-top: 50PX;
    overflow: hidden;
    color: #fff;
}

.footer-buttom-main {
    background: #212121;
}

.footer-heading h5 {
    color: #dedede;
    font-size: 22px;
}

.footer-heading ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-heading ul li {
    display: block;
}

.footer-heading ul li a {
    color: #fff;
    display: block;
}

.footer-heading ul li a i {
    padding-right: 5px;
}

.footer-bottom {
    margin: 0;
    padding: 0;
    margin-top: 20px;
    padding-top: 10px;
}

.footer-bottom .col-lg-6 {
    padding: 0;
}

.footer-heading ul li a {
    background: #32404D;
    margin-bottom: 10px;
    padding: 0px 0px;
}


/*======| FOOTER END |========*/


/*web-application-css-start*/

.web-application {
    padding-top: 80px;
}

.service-section {
    margin-top: 20px;
}

.web-title p {
    color: #0B142B;
    font-size: 24px;
    margin: 0;
    font-family: 'Kanit', sans-serif;
    line-height: 35px;
    padding: 0 5%;
}

.web-title p strong {
    color: #F7941E;
    font-family: 'Kanit', sans-serif;
}

.web-item img {
    width: 100%;
    height: 100%;
}

.web-item {
    margin: 5px;
    height: 300px;
    background: #2E2759;
}

.about-sec {
    padding: 20px 4px;
}

.nav-contact li {
    line-height: 0;
}

.web-item a h1 {
    color: #fff;
    font-size: 44px;
    margin: 0;
    font-family: 'Kanit', sans-serif;
    line-height: 55px;
    font-weight: bold;
    text-transform: uppercase;
}

.webapp-item a img,
.webdesign-item a img {
    position: relative;
}

.webapp-item a h1 {
    position: absolute;
    top: 27px;
    left: 2%;
}

.webdesign-item a h1 {
    position: absolute;
    top: 20px;
    right: 1%;
}

.webcmscus-item a h1 {
    position: absolute;
    bottom: 12px;
    font-size: 43px;
    left: 1%;
}

.webecommerce-item a h1 {
    position: absolute;
    bottom: 12px;
    left: 27%;
}

.psddesign-item a h1 {
    position: absolute;
    top: 17px;
    right: 14%;
}

.psddesign-item a h1 {
    color: #fff;
    font-size: 44px;
    margin: 0;
    font-family: 'Kanit', sans-serif;
    line-height: 55px;
    font-weight: bold;
    text-transform: uppercase;
}


/*web-application-css-end*/


/*App development*/

.mobile-app-heading h1 {
    text-align: center;
    margin: 20px 0;
    letter-spacing: 4px;
    font-family: 'Oleo Script', cursive;
    color: #466DB5;
    font-size: 44px;
}

.mobile-app-heading p {
    font-size: 22px;
}

.mobile-app-heading span {
    color: #FFF;
    background: #466DB5;
    display: block;
    text-align: center;
    font-size: 40px;
    padding: 5px 5px;
    font-weight: 700;
    margin-bottom: -16px;
}

.payment-section {
    padding-bottom: 30px;
}

.portfolio {
    margin-bottom: 15px !important;
}

.wsmenu-arrow {
    display: none;
}

.carousel-indicators {
    bottom: -25px;
}

.contact-btn2 {
    background: #5B9BD5;
    padding: 8px 20px;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    display: inline-block;
    margin-top: 20px;
    transition: .3S;
    border-radius: 2px;
    margin-bottom: 20px;
}

.contact-btn2:hover {
    color: #fff;
}


/*Ui/uX page design End*/


/*seo-page-css*/

.seo-contant {
    padding: 30px 0px;
}

.sub-title {
    font-size: 23px;
}

.discuss-btn {
    background-color: #5B9BD5;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    margin: 30px 0;
}

.discuss-btn:hover {
    background-color: #4C8CC6;
    color: #fff;
    font-weight: bold;
}


/*seo-page-css*/

.social-media {
    padding: 25px 0;
}

.social-media h1 {
    top: 36%;
    right: 0%;
    color: #070628;
    text-transform: capitalize;
    font-weight: normal;
    font-size: 40px;
    text-align: right;
}

.social-service-sub-page img {
    margin-top: 57px;
    width: 100%;
}

.social-containt h3 {
    font-weight: normal;
    font-size: 28px;
    margin: 0;
}

.social-containt {
    padding: 45px;
}

.social-discuss-btn {
    background: #008B8B;
    padding: 10px 0 10px 14px;
    border-radius: 3px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    transition: .5s;
}

.social-discuss-btn:hover {
    background: #006464;
    color: #fff;
}

.adi-bag {
    background: #1F9CD9;
    padding: 10px 14px 10px 0px;
    border-radius: 0 3px 3px 0;
    transition: .5s;
}

.adi-bag:hover {
    background: #1592CF;
}

.social-image-item img {
    width: 100%;
}

.right-item {
    margin-bottom: 16px;
}

.social-image-item {
    margin-top: 16px;
}

.social-image {
    padding-bottom: 20px;
}

.social-image-item {
    margin-top: 16px;
}

.social-lunch span {
    color: #FFF;
    background: #1F9CD9;
    display: block;
    text-align: center;
    font-size: 28px;
    padding: 5px 5px;
    font-weight: normal;
    letter-spacing: 4px;
    margin-bottom: 19px;
}

.marketing-services h1 {
    font-weight: bold;
    font-size: 36px;
}

.marketing-services h2 {
    font-size: 21px;
    font-weight: normal;
    color: #323234;
}

.marketing-services h4 {
    font-size: 20px;
    text-decoration: underline;
    padding-top: 0;
}

.social-item li {
    list-style: disclosure-open;
}

.seo-cint-item {
    padding: 10px 0px;
}

.seo-item-image img {
    max-height: 370px;
    width: 100%;
    box-shadow: 0px 0px 5px 0px;
}

.services-form h1 {
    letter-spacing: 3px;
    text-transform: initial;
    font-size: 50px;
    color: #ffffff;
    text-align: center;
    font-style: inherit;
    font-weight: 300;
    padding-top: 20px;
    padding-bottom: 18px;
}

.servoce-back {
    width: 100%;
    background-color: rgba(0, 0, 0, .8);
    padding: 60px 0;
}

.servoce-back h5 {
    color: #fff;
    letter-spacing: 3px;
}

.services-form form label {
    color: #fff;
    font-weight: bold;
}

.services-form form input {
    height: 45px !important;
    border-radius: 0;
}

.services-form form select {
    border-radius: 0;
    height: 45px !important;
}

.services-form .btn-sub-from {
    height: 45px !important;
    padding: 10px 45px;
    border-radius: 0;
    background: #008B8B;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}

.services-form .btn-sub-from:hover {
    background: #006464;
    color: #fff;
}

.fan-page-image img {
    width: 100%;
}

.fan-title {
    margin: 50px 0;
}

.fan-page-image {
    margin-bottom: 50px;
}

.seo-mmm-btn-con {
    margin: 30px;
}


/*======| sub page End  |========*/

ul.service-list h1 {
    color: #f8f9fa;
}

ul.service-list h3 {
    color: #c2e1ff;
}


/*seo-page-css*/

.seo-contant {
    padding: 30px 0px;
}

.sub-title {
    font-size: 23px;
}

.discuss-btn {
    background-color: #5B9BD5;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    margin: 30px 0;
}

.discuss-btn:hover {
    background-color: #4C8CC6;
    color: #fff;
    font-weight: bold;
}


/*seo-page-css*/

.social-media {
    padding: 25px 0;
}

.social-media h1 {
    top: 36%;
    right: 0%;
    color: #070628;
    text-transform: capitalize;
    font-weight: normal;
    font-size: 40px;
    text-align: right;
}

.social-service-sub-page img {
    margin-top: 57px;
    width: 100%;
}

.social-containt h3 {
    font-weight: normal;
    font-size: 28px;
    margin: 0;
}

.social-containt {
    padding: 45px;
}

.social-discuss-btn {
    background: #008B8B;
    padding: 10px 0 10px 14px;
    border-radius: 3px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    transition: .5s;
}

.social-discuss-btn:hover {
    background: #006464;
    color: #fff;
}

.adi-bag {
    background: #1F9CD9;
    padding: 10px 14px 10px 0px;
    border-radius: 0 3px 3px 0;
    transition: .5s;
}

.adi-bag:hover {
    background: #1592CF;
}

.social-image-item img {
    width: 100%;
}

.right-item {
    margin-bottom: 16px;
}

.social-image-item {
    margin-top: 16px;
}

.social-image {
    padding-bottom: 20px;
}

.social-image-item {
    margin-top: 16px;
}

.social-lunch span {
    color: #FFF;
    background: #1F9CD9;
    display: block;
    text-align: center;
    font-size: 28px;
    padding: 5px 5px;
    font-weight: normal;
    letter-spacing: 4px;
    margin-bottom: 19px;
}

.marketing-services h1 {
    font-weight: bold;
    font-size: 36px;
}

.marketing-services h2 {
    font-size: 21px;
    font-weight: normal;
    color: #323234;
}

.marketing-services h4 {
    font-size: 20px;
    text-decoration: underline;
    padding-top: 0;
}

.social-item li {
    list-style: disclosure-open;
}

.seo-cint-item {
    padding: 10px 0px;
}

.seo-item-image img {
    max-height: 370px;
    width: 100%;
    box-shadow: 0px 0px 5px 0px;
}

a.btn.btn-trans-black.circled {
    background-color: #de7a1b;
    color: white;
    font-weight: 600;
    border-radius: 25px;
    padding: .5rem 2.5rem;
}

.services-form h1 {
    letter-spacing: 3px;
    text-transform: initial;
    font-size: 50px;
    color: #ffffff;
    text-align: center;
    font-style: inherit;
    font-weight: 300;
    padding-top: 20px;
    padding-bottom: 18px;
}

.servoce-back {
    width: 100%;
    background-color: rgba(0, 0, 0, .8);
    padding: 60px 0;
}

.servoce-back h5 {
    color: #fff;
    letter-spacing: 3px;
}

.services-form form label {
    color: #fff;
    font-weight: bold;
}

.services-form form input {
    height: 45px !important;
    border-radius: 0;
}

.services-form form select {
    border-radius: 0;
    height: 45px !important;
}

.services-form .btn-sub-from {
    height: 45px !important;
    padding: 10px 45px;
    border-radius: 0;
    background: #008B8B;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}

.services-form .btn-sub-from:hover {
    background: #006464;
    color: #fff;
}

.fan-page-image img {
    width: 100%;
}

.fan-title {
    margin: 50px 0;
}

.fan-page-image {
    margin-bottom: 50px;
}

.seo-mmm-btn-con {
    margin: 30px;
}


/*======| sub page End  |========*/

.btn.btn-block.btn_side_menu {
    text-align: start;
    background-color: #f0f4f7;
    border-radius: 0px;
    width: 100%;
    margin: 0px;
    font-size: 1rem;
    color: #202428;
    font-weight: 700;
}

.btn.btn-block.btn_side_menu:focus {
    box-shadow: none !important;
    outline: none;
}


/*------------------------
PRICING PLAN
--------------------------*/

.pricing-box {
    text-align: center;
    padding: 70px 15px 70px;
    border: 1px solid#eee;
    -webkit-box-shadow: 0px 20px 35px rgba(0, 0, 0, .1);
    box-shadow: 0px 20px 35px rgba(0, 0, 0, .1);
    -webkit-transition: all 900ms ease;
    -o-transition: all 900ms ease;
    transition: all 900ms ease;
    background: #fff;
    border-radius: 5px;
}

.pricing-box h4 {
    margin-bottom: 5px;
    font-size: 1.55rem;
    font-weight: 700;
    color: #ef831d;
}

.pricing-box h6 {
    font-size: .6rem;
    background-color: #ef831d;
    color: white;
    border-radius: 25px;
    width: 60%;
}

.price {
    display: block;
    font-size: 50px;
    line-height: 70px;
    color: #005c97;
    font-weight: 800;
    letter-spacing: 1px;
    margin-bottom: 20px;
    font-family: "Poppins", sans-serif;
}

.price sup {
    font-weight: 400;
}

.pricing-box ul li {
    position: relative;
    line-height: 20px;
    text-align: left;
}

.pricing-box ul li p {
    color: #404040;
    font-size: .8rem;
    font-weight: 600;
}

.pricing-box ul {
    margin-bottom: 40px;
}

.pricing-box ul li span {
    color: #005c97;
}

.portfolio .img-thumbnail {
    width: 15rem;
    height: 13rem;
    margin: 1rem;
}

button.close.m_close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 14;
}

#image-gallery .modal-footer {
    display: block;
}

.aboutus-section {
    padding: 90px 0;
}

.aboutus-title {
    font-size: 30px;
    letter-spacing: 0;
    line-height: 32px;
    margin: 0 0 39px;
    padding: 0 0 11px;
    position: relative;
    text-transform: uppercase;
    color: #000;
}

.aboutus-title::after {
    background: #ef831d none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 54px;
}

.aboutus-text {
    color: #606060;
    font-size: 13px;
    line-height: 22px;
    margin: 0 0 35px;
}

a:hover,
a:active {
    color: #ffb901;
    text-decoration: none;
    outline: 0;
}

.aboutus-more {
    border: 1px solid #ef831d;
    border-radius: 25px;
    color: #ef831d;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0;
    padding: 7px 20px;
    text-transform: uppercase;
}

.feature .feature-box .iconset {
    float: left;
    position: relative;
    width: 18%;
}

.feature .feature-box .iconset::after {
    background: #fdb801 none repeat scroll 0 0;
    content: "";
    height: 150%;
    left: 43%;
    position: absolute;
    top: 100%;
    width: 1px;
}

.feature .feature-box .feature-content h4 {
    color: #0f0f0f;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 22px;
    margin: 0 0 5px;
}

.feature .feature-box .feature-content {
    float: left;
    padding-left: 28px;
    width: 78%;
}

.feature .feature-box .feature-content h4 {
    color: #0f0f0f;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 22px;
    margin: 0 0 5px;
}

.feature .feature-box .feature-content p {
    color: #606060;
    font-size: 13px;
    line-height: 22px;
}

.icon {
    color: #ef831d;
    padding: 0px;
    font-size: 40px;
    border: 1px solid #ef831d;
    border-radius: 100px;
    color: #ef831d;
    font-size: 28px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    width: 70px;
    background-color: white;
}

.pb-100 {
    padding-bottom: 100px;
}

.pt-100 {
    padding-top: 100px;
}

a {
    text-decoration: none;
}

.section-title h4 {
    font-size: 14px;
    font-weight: 500;
    color: #777;
}

.section-title h2 {
    font-size: 32px;
    text-transform: capitalize;
    margin: 15px 0;
    display: inline-block;
    position: relative;
    font-weight: 700;
    padding-bottom: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.section-title p {
    font-weight: 300;
    font-size: 14px;
}

.black-bg .section-title h2,
.black-bg .section-title h4,
.black-bg .section-title p {
    color: #fff
}

.section-title h2:before {
    position: absolute;
    content: "";
    width: 150px;
    height: 1px;
    background-color: #777;
    bottom: 0;
    left: 50%;
    margin-left: -75px;
}

.section-title h2:after {
    position: absolute;
    content: "";
    width: 80px;
    height: 3px;
    background-color: #e16038;
    border: darkblue;
    bottom: -1px;
    left: 50%;
    margin-left: -40px;
}

.section-title {
    margin-bottom: 70px;
}

.single-price {
    text-align: center;
    padding: 30px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}

.price-title h4 {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 600;
}

.price-tag {
    margin: 30px 0;
}

.price-tag {
    margin: 30px 0;
    background-color: #fafafa;
    color: #000;
    padding: 10px 0;
}

.center.price-tag {
    background-color: tomato;
    color: #fff
}

.price-tag h2 {
    font-size: 45px;
    font-weight: 600;
    font-family: poppins;
}

.price-tag h2 span {
    font-weight: 300;
    font-size: 16px;
    font-style: italic;
}

.price-item ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.price-item ul li {
    font-size: 14px;
    padding: 5px 0;
    border-bottom: 1px dashed #eee;
    margin: 5px 0;
}

.price-item ul li:last-child {
    border-bottom: 0;
}

.single-price a {
    margin-top: 15px;
}

a.box-btn {
    background-color: tomato;
    padding: 5px 20px;
    display: inline-block;
    color: #fff;
    text-transform: capitalize;
    border-radius: 3px;
    font-size: 15px;
    transition: .3s;
}

a.box-btn:hover,
a.border-btn:hover {
    background-color: #d35400;
}

.login input.btn.btn-lg.px-5.rounded-0 {
    background: #ef831d;
    color: #ffffff;
    margin: 0px;
}

.login input.form-control {
    border-radius: 0px;
}

.login input.btn.btn-lg.px-5.rounded-0:hover {
    color: #ffffff;
}
img.scb-img {
    height: 5rem;
}
i.fas.fa-angle-down {
    color: #f8f9fa;
}
a.ts_btn.btn-danger.text-light.btn-sm.btn-block {
    border-radius: 25px;
}
a.btn.btn-primary.custom-button.seo-agency-btn.mbl-btn.talk-to-expart-btn {
    background: #0b5bbe!important;
}

input.contact-btn {
    background: #0b5bbe;
}